# Python virtual environment 
venv/ 
env/ 

# Python cache files
 __pycache__/
 *.pyc 

# Editor/IDE specific files
.vscode/ 
.idea/

# OS specific files 
.DS_Store 

# File for secret API keys (if you use one) 
.env